:root {
    --color-azul: #1877f2;
    --color-verde:#42b72a;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--color-azul) 
}
.flexfacebook {
    display: flex;
    padding-top: 15vh;
    padding-right: 10%;
}
.img-logo {
    height: 106;
    margin: -28;
}

.caja1 img,
.caja2 h2 {
    padding: 0 34% 0 10%;
}

.caja2 {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    min-width: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    align-items: center;
}

.caja2 p {
    text-align: center;
}
.form-loging {
    display: flex;
    flex-direction: column;
} 


.form-loging input {
    height: 42px;
    padding-left: 10px;
    
}

.btn-login {
    width: 330;
    height: 40;
    background-color: #1877f2;
    color: #ffff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
}



.btn-nueva-cuenta {
    background-color:var(--color-verde);
    border:none;
    color: #ffffff;
    border-radius: 6px;
    font-size: 14px;
    line-height: 30px;
    padding: 0 16px;
    font-weight: bold;
    transition: all .5%;
    }

.btn-nueva-cuenta :hover{
    background-color: #a45020;
    }
.btn-nueva-cuenta :disabled{
    background-color: #653cb1;
}
input:focus {
    border-color: transparent;
}
.caja2 {
    border:solid 3px #000;
}
@media (min-with:768px){}
    .caja2{}